@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.row::after {
  clear: both;
  content: "";
  display: block; }

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #00aeef;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #008bbf;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(0, 174, 239, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.25rem;
  padding: 0; }

label {
  color: #F6F6F6;
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem; }

input,
select,
textarea {
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  padding: 0.33333rem;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #00aeef;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 174, 239, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #858585; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.25rem; }

[type="file"] {
  margin-bottom: 0.5rem;
  width: 100%; }

select {
  margin-bottom: 0.5rem;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(0, 174, 239, 0.6);
  outline-offset: 2px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

main {
  padding-top: 4rem; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.5rem 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.5rem 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0; }

tr,
td,
th {
  vertical-align: middle; }

:root {
  font-size: 14px; }
  @media (min-width: 1201x) {
    :root {
      font-size: 16px; } }
  @media only screen and (min-width: 1200px) {
    :root {
      font-size: 16px; } }

html {
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.5rem; }

p {
  margin: 0 0 0.5rem; }

a {
  color: #00aeef;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #0083b3; }
  a:focus {
    outline: 3px solid rgba(0, 174, 239, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1rem 0; }

/* ================================= 
  Variables
==================================== */
/* ================================= 
  Base Styles
==================================== */
a {
  text-decoration: none; }

ul {
  padding: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%; }

.absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

form {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }
  @media (min-width: 1201x) {
    form {
      width: 600px; } }
  @media (min-width: 993px) {
    form {
      width: 600px; } }
  @media (min-width: 601px) {
    form {
      width: 600px; } }

.input-field {
  -ms-flex: 1 1 100%;
      flex: 1 1 100%; }

.input-field--half {
  -ms-flex: 0 1 47.5%;
      flex: 0 1 47.5%; }

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background: rgba(47, 66, 113, 0.9);
  border-bottom: 1px solid #00aeef;
  box-shadow: inset 0px -50px 32px -48px #0076ef; }

.navbar__wrapper {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 1rem; }

.navbar__brand {
  width: 120px;
  margin: 0;
  margin-bottom: -2px; }
  .navbar__brand a img {
    max-width: 100%;
    height: auto;
    display: block; }

.navbar__menu {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.navbar__menu-item {
  color: #F9F004;
  margin-left: 0.5rem;
  border-bottom: solid 1px transparent;
  margin-bottom: -1px; }
  .navbar__menu-item--first {
    margin-left: 0; }
  .navbar__menu-item:hover {
    color: #FDD000; }
    .navbar__menu-item:hover.active {
      border-bottom-color: #FDD000 !important; }
  .navbar__menu-item.active {
    border-bottom: solid 1px #F9F004; }

body {
  font-family: 'Lato', sans-serif; }

main {
  background: #222222;
  width: 100%; }

.hero {
  position: relative;
  height: calc(100vh - 68px); }

.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  z-index: 1000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.hero__heading {
  max-width: 100%;
  height: auto;
  display: block; }

.hero__img-container {
  position: absolute;
  right: 0;
  bottom: 2rem;
  left: 0;
  width: 80%;
  margin: 0 auto; }
  @media (min-width: 601px) {
    .hero__img-container {
      position: absolute;
      bottom: 2rem;
      left: 2rem; } }
  .hero__img-container img {
    max-width: 100%;
    height: auto;
    display: block; }

.btn {
  background: rgba(0, 174, 239, 0.25);
  border: solid 2px rgba(0, 174, 239, 0.75);
  border-radius: 3px;
  color: #F9F004;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  .btn:hover {
    background: rgba(0, 174, 239, 0.35);
    color: #FDD000;
    border: solid 2px #00aeef; }
    .btn:hover svg {
      fill: #FDD000; }
  .btn__icon {
    padding-top: 2px;
    fill: #F9F004;
    height: 20px;
    width: 20px;
    margin-right: 0.5rem; }

#bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; }

.welcome {
  position: relative;
  height: 100vh;
  border-top: 1px solid #00aeef;
  background: #333333; }
  .welcome__title {
    font-size: 1.95312em;
    width: 100%;
    text-align: center;
    color: #F9F004;
    margin-bottom: 1rem; }
  .welcome__intro {
    color: #F6F6F6;
    text-align: center; }
  .welcome__cta {
    margin: 1rem auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    .welcome__cta a:first-child {
      margin-right: 1rem; }
    .welcome__cta svg {
      width: 120px;
      height: auto; }
      @media (min-width: 601px) {
        .welcome__cta svg {
          width: 160px; } }
  .welcome__gallery {
    margin-top: 0.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .welcome__gallery-thumb {
    margin-top: 1rem;
    -ms-flex: 0 1 100%;
        flex: 0 1 100%; }
    @media (min-width: 601px) {
      .welcome__gallery-thumb {
        -ms-flex: 0 1 48.5%;
            flex: 0 1 48.5%; } }
    .welcome__gallery-thumb > h4 {
      color: #F9F004;
      font-weight: 400; }

.img-wrapper {
  max-width: 100%;
  height: auto;
  display: block; }

.panel {
  position: relative;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  background: rgba(51, 51, 51, 0.5);
  height: 100%;
  z-index: 100; }
  @media (min-width: 601px) {
    .panel {
      width: 90%; } }
  @media (min-width: 993px) {
    .panel {
      width: 80%;
      max-width: 1000px; } }

.floating-action {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 2000; }

#return-top {
  fill: #00aeef;
  opacity: 0; }

.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  padding-bottom: 4rem;
  z-index: 0; }
  @media (min-width: 993px) {
    .stars {
      padding-bottom: 4rem !important; } }
  @media (min-width: 601px) {
    .stars {
      padding-bottom: 14rem; } }

.animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite; }
  @media (min-width: 993px) {
    .animation {
      height: 1000px; } }

@keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

/* ================================= 
  MOBILE
==================================== */
/* ================================= 
  TABLET
==================================== */
/* ================================= 
  DESKTOP
==================================== */
.support {
  padding-top: 4rem; }
  .support form .input-field {
    -ms-flex: 1 1 100%;
        flex: 1 1 100%; }
  .support form .input-field--name, .support form .input-field--email {
    -ms-flex: 1 1 100%;
        flex: 1 1 100%; }
    @media (min-width: 601px) {
      .support form .input-field--name, .support form .input-field--email {
        -ms-flex: 0 1 47.5%;
            flex: 0 1 47.5%; } }

/*# sourceMappingURL=styles.css.map */
