@mixin img-responsive() {
	max-width: 100%;
	height: auto;
	display:block;
}

@mixin rounded-box($radius : 4px, $color: $smoke, $border-color: $iron) {
		border-radius: $radius;
		background: $color;
		overflow: hidden;
		border: solid 1px $border-color;	
}

@mixin absolute-full() {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
}

@mixin container($width, $margin) {
  width: $width;
  margin: $margin auto;
} 