@mixin img-responsive() {
	max-width: 100%;
	height: auto;
	display:block;
}

@mixin rounded-box($radius : 4px, $color: $smoke, $border-color: $iron) {
		border-radius: $radius;
		background: $color;
		overflow: hidden;
		border: solid 1px $border-color;	
}