
body {

	font-family: 'Lato', sans-serif;

}

// .container {
//   @include container(80%, $base-spacing);
// } 




main {
  background: $jet;
  // height: 100vh;
  width: 100%;
} 


.hero {
  position: relative;
  height: calc(100vh - 68px);


}

.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  z-index: 1000;
  // @include grid-container;
  display: flex;
  justify-content: center;
}

.hero {
  @include grid-media($large-desktop-grid) {

  }

  @include grid-media($tablet-grid) {

  }

  &__heading {
    @include img-responsive();

  }

  &__img-container {
    @include position(absolute, null 0 $base-spacing * 2 0);
    width: 80%;
    margin: 0 auto;    

    @include grid-media($grid--tablet-up) {
      @include position(absolute, null null $base-spacing * 2 $base-spacing * 2);
    }

    img {
      @include img-responsive;
    }
  }
}

.btn {
  background: transparentize( $aqua-blue, .75);
  border: solid 2px transparentize( $aqua-blue, .25);
  // box-shadow: 0 2px 2px transparentize( $aqua-blue, .20);
  border-radius: $base-border-radius;
  color: $laser-yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background: transparentize( $aqua-blue, .65);
    color: $sun-yellow;
    border: solid 2px $aqua-blue;

    svg {
      fill: $sun-yellow;
    }
  }

  @include elem('icon') {
    padding-top: 2px;
    fill: $laser-yellow;
    height: 20px;
    width: 20px;
    margin-right: $base-spacing / 2;
  }
}


#bgvideo {
  // position: absolute; 
  // top: 0;
  // left: 0;
  // min-width: 100%;
  // height: 100%;
  // background-size: cover;
  // overflow: hidden;
  // object-fit: fill;
    
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;  
}

.welcome {
  position: relative;
  // margin-top: 100vh;
  height: 100vh;
  border-top: 1px solid #00aeef;
  background: $oil;

  @include elem('title') {
    font-size: modular-scale(3);
    width: 100%;
    text-align: center;
    color: $laser-yellow;
    margin-bottom: $base-spacing;
  }


  @include elem('intro') {
    color: $vapor;
    text-align: center;
  }

  @include elem('cta') {
    margin: $base-spacing auto;
    display: flex;
    justify-content: center;

    a:first-child {
      margin-right: $base-spacing;
    }

    svg {
      width: 120px;
      height: auto;

      @include grid-media($grid--tablet-up) {
        width: 160px;
      }
    }
    
  }

  @include elem('gallery') {
    // width: 100
    margin-top: $base-spacing / 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include elem('gallery-thumb') {
    margin-top: $base-spacing;
    flex: 0 1 100%;

    @include grid-media($grid--tablet-up) {
      flex: 0 1 48.5%;
    }

    > h4 {
      color: $laser-yellow;
      font-weight: 400;
      // margin-bottom: $smallbase-spacing;
    }
  }
}

.img-wrapper {
  @include img-responsive;
} 

.panel {
  position: relative;
  padding: $base-spacing;
  width: 100%;
  margin: 0 auto;
  background: transparentize($oil, .5);
  height: 100%;
  z-index: 100;

  @include grid-media($grid--tablet-up) {
    width: 90%;
  }

  @include grid-media($grid--laptop-up) {
    width: 80%;
    max-width: 1000px;
  }
}

.floating-action {
  position: absolute;
  bottom: $base-spacing;
  right: $base-spacing;
  z-index: 2000; 
}

#return-top {
  fill: $aqua-blue;
  // display: none;
  opacity: 0;
}

.stars {
  // @include absolute-full();
  // background-image: url('http://www.script-tutorials.com/demos/360/images/stars.png');
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;  
  padding-bottom: 4rem;
  
  // background-size: cover;
  z-index: 0;
  // height: 2000px;
  // @include grid-media($grid--desktop-up) {
  //   height: 1000px;
  // }  

  @include grid-media($grid--laptop-up) {
    padding-bottom: 4rem !important;
  }  

  @include grid-media($grid--tablet-up) {
    padding-bottom: 14rem;
  }
}

.animation {
  @include absolute-full();
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;  
  z-index: 1;
  animation:move-twink-back 200s linear infinite;

  @include grid-media($grid--laptop-up) {
    height: 1000px;
  }    
}





@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;
  }
}

/* ================================= 
  MOBILE
==================================== */







/* ================================= 
  TABLET
==================================== */
	


/* ================================= 
  DESKTOP
==================================== */




