.support__page {
  height: 100%;
}

.support {
    height: calc(100vh - #{$navbar-height-mobile});
    position: relative;
    // padding-top: 4rem;
    // margin-top: $base-spacing * 4;
  
    @include grid-media($grid--laptop-up) {
      height: calc(100vh - #{$navbar-height});
    }  

    > .stars {
      height: calc(100vh - #{$navbar-height-mobile});
      padding-top: 4rem;

      @include grid-media($grid--laptop-up) {
        height: calc(100vh - #{$navbar-height});
      }      
    }

    form {
      // margin-top: $base-spacing * 4;
      // padding: $base-spacing;
      // border-radius: $base-border-radius;
      background: $tuatara;
      position: relative;
      z-index: 1000;
      // width: 600px;
      // margin: 0 auto;
      // display: flex;
      // flex-wrap: wrap;
  
      .input-field {
        flex: 1 1 100%;
      }


      .input-field--name, .input-field--email {
        flex: 1 1 100%;

        @include grid-media($grid--tablet-up) {
            flex: 0 1 47.5%;
        }
      }
    }
  
  }