.support__page {
  height: 100%;
}

.support {


    margin-top: $base-spacing * 4;
  
    form {
      // padding: $base-spacing;
      // border-radius: $base-border-radius;
      // background: $tuatara;
      // width: 600px;
      // margin: 0 auto;
      // display: flex;
      // flex-wrap: wrap;
  
      .input-field {
        flex: 1 1 100%;
      }


      .input-field--name, .input-field--email {
        flex: 1 1 100%;

        @include grid-media($grid--tablet-up) {
            flex: 0 1 47.5%;
        }
      }
    }
  
  }