/* ================================= 
  Base Styles
==================================== */

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}


.wrapper {
  width: 100%;
}

.absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
