$large-desktop-grid: (
  columns: 12,
  gutter: $base-spacing,
  media: "screen and (min-width: 1025px)",
  color: rgba(#00d4ff, 0.25),
  direction: ltr,
);

$desktop-grid: (
  columns: 12,
  gutter: $base-spacing,
  media: "screen and (max-width: 1024px)",
  color: rgba(#00d4ff, 0.25),
  direction: ltr,
);

$tablet-grid: (
  columns: 6,
  gutter: $base-spacing,
  media: "screen and (max-width: 992px)", //768px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr,
);

$mobile-grid: (
  columns: 3,
  gutter: $base-spacing,
  media: "screen and (max-width: 767px)", // 320px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr,
);