// Helper classes

.no-padding {
    padding: 0 !important;
  }
  
.base-margin-top {
    margin-top: $base-spacing;
}

.base-margin-right {
    margin-right: $base-spacing;
}
  
.base-margin-bottom {
    margin-bottom: $base-spacing;
}

.base-margin-left {
    margin-left: $base-spacing;
}
 
.base-padding-top {
    padding-top: $base-spacing;
}

.base-padding-right {
    padding-right: $base-spacing;
}
  
.base-padding-bottom {
    padding-bottom: $base-spacing;
}

.base-padding-left {
    padding-left: $base-spacing;
}

  