html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  position: relative;
}

main {
  padding-top: $navbar-height-mobile;
  
  @include grid-media($grid--laptop-up) {
    padding-top: $navbar-height;
  }
  //5rem;
}