// Typography
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1rem; //$base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$white         : #FFFFFF !default;
$ghost         : #FAFAFA !default;
$snow          : #F9F9F9 !default;
$vapor         : #F6F6F6 !default;
$white-smoke   : #F5F5F5 !default;
$silver        : #EFEFEF !default;
$smoke         : #EEEEEE !default;
$gainsboro     : #DDDDDD !default;
$iron          : #CCCCCC !default;
$base          : #AAAAAA !default;
$aluminum      : #999999 !default;
$jumbo         : #888888 !default;
$monsoon       : #777777 !default;
$steel         : #666666 !default;
$charcoal      : #555555 !default;
$tuatara       : #444444 !default;
$oil           : #333333 !default;
$jet           : #222222 !default;
$ebony         : #111111 !default;
$black         : #000000 !default;

$facebook-blue     : #3b5998;
$bandcamp-blue     : #629aa9;
$flickr            : #f40083;
$twitter-blue      : #1da1f2;
$skype-blue        : #00aff0;      
$soundcloud-orange : #ff8800;
$spotify-green     : #2ebd59;
$snapchat-yellow   : #fffc00;
$youtube-red       : #cd201f;
$tumblr-grey       : #35465c;
$song-kick         : #f80046;
$vimeo             : #45bbff;

$instagram-blue    : #405de6;
$instagram-purple  : #833ab4;
$instagram-orange  : #fcaf45;
$instagram-yellow  : #ffdc80;

$aqua-blue: #00aeef;
$lcd-blue: #0076EF;
$artic-sea: rgba(47, 66, 113, 0.9);
$laser-yellow: #F9F004;
$sun-yellow: #FDD000;


// Font Colors
$base-font-color: $dark-gray;
$action-color: $aqua-blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Grid

// Breakpoints
$mobile-screen: 600px !default;
$mobile-screen-up: 601px !default;
$tablet-screen: 900px !default;
$tablet-screen-up: 993px !default;
$laptop-screen: 1200px !default;
$laptop-screen-up: 1201x !default;


$grid--mobile: (
  columns: 12,
  gutter: 1rem,
);

$grid--tablet-up: (
  columns: 12,
  gutter: 1rem,
  media: "(min-width: #{$mobile-screen-up})",
);

$grid--laptop-up: (
  columns: 12,
  gutter: 1rem,
  media: "(min-width: #{$tablet-screen-up})",
);

$grid--desktop-up: (
  columns: 12,
  gutter: 1rem,
  media: "(min-width: #{$laptop-screen-up})",
);

$navbar-height-mobile: 68px;
$navbar-height: 72px;