
form {
  @include drop-shadow(2);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $base-spacing;
  border-radius: $base-border-radius;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include grid-media($grid--desktop-up) {
    width: 600px;
  }  

  @include grid-media($grid--laptop-up) {
    width: 600px;
  }  

  @include grid-media($grid--tablet-up) {
    width: 600px;
  }

  // @include grid-media($mobile-grid) {
  //   width: 90%;
  // }
}

.input-field {
  flex: 1 1 100%;
}

.input-field--half {
  flex: 0 1 47.5%;
}